includes:
    - config/phpstan/common.neon
    - phpstan-baseline.neon
parameters:
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - src
        - test
    fileExtensions:
        - php
